numpy<2
torch==2.2.2
sentence-transformers==2.2.2
transformers==4.39.3
huggingface-hub==0.24.0
streamlit
pandas
matplotlib
scikit-learn
scipy
openpyxl
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
tqdm
regex
requests
python-dateutil
networkx
ruptures
altair
pydeck