streamlit
pandas
numpy
matplotlib
scikit-learn
scipy
openpyxl

sentence-transformers
transformers

spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

tqdm
regex
requests
python-dateutil
networkx
ruptures
altair
pydeck